<div class="container" *ngIf="!loading">
  <div class="board" *ngIf="!winMode else win">
    <app-card *ngFor="let card of sortedCards"
              [card]="card" [coupleCards]="coupleCards" [activeCards]="activeCards"
              (clickCard)="onClickCard($event)"></app-card>
  </div>
  <ng-template #win>
    <div class="board">
      <img src="../../../assets/images/win.png" alt="Winner" width=60%>
      <p class="success">Молодець!!!</p>
    </div>
  </ng-template>
</div>
<div class="spinner" *ngIf="loading">
  <app-spiner></app-spiner>
</div>
