<div class="theme-container" *ngIf="!loading">
  <h1 class="caption">Вибери тему)</h1>
  <div class="search">
    <input class="search-input" type="text" placeholder="Знайти тему..." [(ngModel)]="searchQuery">
  </div>
  <div class="themes">
    <div class="themes-container" *ngFor="let theme of themes | themeFilter: searchQuery" (click)="onChoseTheme(theme)">
      <figure>
        <img [src]="theme.image" [alt]="theme.name" width="100%">
        <figcaption>{{theme.description}}</figcaption>
      </figure>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="loading">
  <app-spiner></app-spiner>
</div>
