.theme-container {
  text-align: center;
  h1 {
    color: #5415b7;
    margin: 40px auto;
    text-decoration: underline;
    font-weight: 700;
  }
  .search {
    input {
      width: 90%;
      height: 26px;
      padding: 6px 12px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 24px;
    }
    input:focus {
      box-shadow: #417fff 2px 2px 2px 2px;
    }
  }
  .themes {
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    .image-container {
      width: 200px;
      text-align: center;
      margin: 20px;
      padding: 10px;
      border-radius: 30px 0 30px 0;
      font-size: 2em;
      box-shadow: 0 0 10px 18px rgba(255,255,255,.75);
      background-color: rgba(255,255,255,.75);
      border: 2px solid rgba(158,158,158,.15);
      box-sizing: border-box;
      cursor: pointer;
    }
    .image-container:hover {
      border: 2px solid rgba(31, 10, 12, 0.15)
    }
  }
}
