$orange_color: #FDC30B;
$violet: #5415b7;
$dark_violet: darkviolet;
$blue: blue;
$green: green;
$input_bg: white;
$card_bg: white;
$card_font: white;
$card_gradient_first: #28d2ff;
$card_gradient_second: #299cd8;
$input_border: #ccc;
$input_shadow_focus: #417fff;
$image_container: rgba(255,255,255,.75);
$image_container_border: rgba(158,158,158,.15);
$image_container_border_hover: rgba(31, 10, 12, 0.15)