@import 'colors';
nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px 15px;
  box-sizing: border-box;
  background-color: transparent;
  .link {
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    .link{
      display: inline-block;
      margin-right: 20px;
    }
    .age {
      color: $green;
    }
    .theme {
      color: $blue;
    }
    .reset {
      color: $dark_violet;
    }
  }
}
