@font-face {
  font-family: conquettec;
  src: url(assets/fonts/CoquetteC.ttf) format("opentype");
}
html {
  font-family: conquettec, Arial, sans-serif;
  font-size: 14px;
  body {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


